@import url(https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("/fonts/Gilory/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-Regular.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-Regular.woff") format("woff"), url("/fonts/Gilory/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"), url("/fonts/Gilory/Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-ExtraboldItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-ExtraboldItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("/fonts/Gilory/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-Bold.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-Bold.woff") format("woff"), url("/fonts/Gilory/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("/fonts/Gilory/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-Black.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-Black.woff") format("woff"), url("/fonts/Gilory/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("/fonts/Gilory/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-Light.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-Light.woff") format("woff"), url("/fonts/Gilory/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("/fonts/Gilory/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-Semibold.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-Semibold.woff") format("woff"), url("/fonts/Gilory/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("/fonts/Gilory/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-Medium.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-Medium.woff") format("woff"), url("/fonts/Gilory/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("/fonts/Gilory/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-MediumItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-MediumItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("/fonts/Gilory/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-BlackItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-BlackItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("/fonts/Gilory/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-UltraLight.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-UltraLight.woff") format("woff"), url("/fonts/Gilory/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("/fonts/Gilory/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-RegularItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-RegularItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"), url("/fonts/Gilory/Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-SemiboldItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-SemiboldItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("/fonts/Gilory/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-HeavyItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-HeavyItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("/fonts/Gilory/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-Extrabold.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-Extrabold.woff") format("woff"), url("/fonts/Gilory/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("/fonts/Gilory/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-BoldItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-BoldItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("/fonts/Gilory/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-UltraLightItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-UltraLightItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("/fonts/Gilory/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-LightItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-LightItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("/fonts/Gilory/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-Heavy.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-Heavy.woff") format("woff"), url("/fonts/Gilory/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("/fonts/Gilory/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-Thin.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-Thin.woff") format("woff"), url("/fonts/Gilory/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilory/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("/fonts/Gilory/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilory/Gilroy-ThinItalic.woff2") format("woff2"), url("/fonts/Gilory/Gilroy-ThinItalic.woff") format("woff"), url("/fonts/Gilory/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Flex", sans-serif;
  color: #070707;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.visibility {
  visibility: visible !important;
}

.section-title {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.btn {
  padding: 12px 30px;
  border: none;
  background: #070707;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 1s;
}
.btn:hover, .btn:active {
  box-shadow: 10px 10px 100px 6px #070707;
}

@media (max-width: 576px) {
  .header__nav {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: #fff;
  }
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #828282;
}
@media (max-width: 576px) {
  .header__nav-list {
    flex-direction: column;
    align-items: start;
    justify-content: initial;
    padding: 66px 0;
    border-bottom: none;
  }
}

@media (max-width: 576px) {
  .header__nav-item:not(:last-child) {
    margin-bottom: 66px;
  }
}

.header__nav-link {
  color: #828282;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .header__nav-link {
    font-size: 34px;
    font-weight: 700;
  }
}
.header__nav-link:hover, .header__nav-link:active {
  color: #070707;
}

.nav-link-active {
  color: #070707;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .header__info .header__info__lang {
    display: none;
  }
}
@media (max-width: 576px) {
  .header__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.header__info__name {
  font-size: 47px;
  font-weight: 700;
}

.header__info__about {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .header__info__about {
    margin-top: 30px;
  }
}

.header__info__lang {
  font-size: 16px;
  font-weight: 700;
  writing-mode: sideways-lr;
  color: #828282;
}
.header__info__lang * {
  display: inline-block;
  cursor: pointer;
}
.header__info__lang *:not(:last-child) {
  border-top: 2px solid #070707;
  padding-top: 5px;
}

.info__lang-active {
  color: #070707;
}

.header__btn-menu-burger {
  display: none;
  width: 33px;
  height: 20px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__btn-menu-burger {
    display: block;
    justify-self: end;
    align-self: center;
  }
}

.header__picture {
  display: block;
  margin-top: 30px;
}

.header__nav__bar {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 66px 0;
}
@media (max-width: 576px) {
  .header__nav__bar {
    display: flex;
  }
}

.header__nav-close {
  cursor: pointer;
}

.section-about {
  margin-top: 105px;
  padding-top: 120px;
  padding-bottom: 107px;
  background-color: #F6F6F6;
}
@media (max-width: 576px) {
  .section-about {
    margin-top: 83px;
    padding-top: 80px;
    padding-bottom: 76px;
  }
}

.section-about__text {
  margin: 0 auto;
  margin-top: 18px;
  max-width: 485px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.section-about__text p:not(:last-child) {
  margin-bottom: 23px;
}

.section-contacts__block-info {
  margin: 0 auto;
  margin-top: 114px;
  margin-bottom: 123px;
  max-width: 342px;
}
@media (max-width: 576px) {
  .section-contacts__block-info {
    margin-top: 82px;
    margin-bottom: 90px;
  }
}

.section-contacts__text {
  margin: 0px auto;
  margin-top: 20px;
  max-width: 275px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.section-contacts__btn-send-msg {
  margin-top: 30px;
}

.section-contacts__link-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 85px;
}
@media (max-width: 576px) {
  .section-contacts__link-list {
    margin-top: 48px;
  }
}

.link-list__link-img {
  max-width: 40px;
  max-height: 40px;
}

.section-contacts__just-like {
  margin-top: 45px;
  font-size: 14px;
  font-weight: 600;
  color: #828282;
}

.section-contacts__just-like-enum {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #828282;
}

.section-portfolio {
  padding-top: 112px;
  padding-bottom: 96px;
  background-color: #F6F6F6;
}

.section-portfolio__title {
  margin-bottom: 47px;
}

.section-portfolio__card:first-child {
  margin-top: 47px;
}
.section-portfolio__card:not(:last-child) {
  margin-bottom: 100px;
}

.section-portfolio__card-link {
  display: inline-block;
  margin-top: 45px;
  font-size: 18px;
  font-weight: 600;
  color: #070707;
}
.section-portfolio__card-link:hover {
  text-decoration: underline;
}

.section-skils {
  padding: 90px 0;
}

.section-skils__prev {
  display: inline-block;
  margin-top: 69px;
  font-size: 18px;
  font-weight: 600;
}

.section-skils__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 83px;
}
@media (max-width: 576px) {
  .section-skils__list {
    margin-top: 50px;
  }
}

.section-skils__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}
.section-skils__list-item:not(:last-child) {
  margin-bottom: 50px;
}

.section-skils__list-item__img {
  max-width: 90px;
  max-height: 90px;
}

.section-skils__list-item__text {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 700;
}

.section-skils__list-item__level {
  margin-top: 40px;
}
