

.btn {
    padding: 12px 30px;

    border: none;
    background: $black;

    border-radius: 30px;

    color: #fff;
    @include font-18-bold();

    cursor: pointer;

    transition: 1s;

    &:hover, &:active {
        box-shadow: 10px 10px 100px 6px $black;
    }

}