

.section-contacts {

}

    .section-contacts__block-info {
        margin: 0 auto;
        margin-top: 114px;
        margin-bottom: 123px;

        max-width: 342px;

      
        @include for-phone-only {
            margin-top: 82px;
            margin-bottom: 90px;
        }
    }

        .section-contacts__title {

        }

        .section-contacts__text {
            margin: 0px auto;
            margin-top: 20px;

            max-width: 275px;


            @include font-18-medium();
            text-align: center;
        }

        .section-contacts__btn-send-msg {
            margin-top: 30px;
        }

        .section-contacts__link-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            margin-top: 85px;

            @include for-phone-only {
                margin-top: 48px;
            }
        }

            .section-contacts__link-list__link {

            }

            .link-list__link-img {
                max-width: 40px;
                max-height: 40px;
            }

        .section-contacts__just-like {
            margin-top: 45px;

            @include font-14-medium();
            color: $gray;
        }   
        
        .section-contacts__just-like-enum {
            @include font-14-medium();
            color: $gray;
        }
